.about-container {
  height: 100vh;
}
.abouhead {
  margin: 0 auto;
  width: 750px;
  height: 100vh;
  padding-top: 3rem; /* Offset the height of the fixed navbar */
 
}

.first {
  padding-top: 2%;
  text-shadow: 2px 2px rgba(56, 31, 248, 0.5);
  font-family: cursive;
  
}

.second {

  background: linear-gradient(to right, rgb(34, 0, 255), rgb(236, 11, 49));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fourth {
  line-height: 4vh;
  font-weight: bold;
}

.btn {
  width: 35%;
  height: 5vh;
  border: 2px solid skyblue;
  border-radius: 5px;
  margin: 0 auto;
}

.third {
  background: linear-gradient(5deg, rgb(189, 198, 226), rgb(207, 38, 182));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .abouhead {
    width: 90%;
    padding: 20px;
    padding-top: 6rem; /* Offset the height of the fixed navbar */
  }

  .btn {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .abouhead {
    width: 80vw;
    height: 60rem;
    padding: 20px;
    padding-top: 6rem; /* Offset the height of the fixed navbar */
    margin-left: 1rem;
  }

  .first {
    margin-top: 5%;
    text-align: center;
  }

  .btn {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .first {
    margin-top: 5%;
    text-align: center;
  }

  .fourth {
    line-height: 3vh;
  }

  .btn {
    width: 70%;
    height: 6vh;
  }
}

