/* App.css */

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Roboto', cursive, Gill Sans, ui-rounded, Gill Sans Extrabold, Monaco, Tahoma, Times, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: rgb(13, 13, 13);
  overflow-x: hidden;
  color: white;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Applying animations */
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.slide-in {
  animation: slideIn 1s ease-out;
}

.pop-in {
  animation: popIn 1s ease-out;
}

/* Styling sections */
section {
  padding: 2rem;
  min-height: 100vh;
}

/* Section-specific animations */
#home {
  animation: fadeIn 1.5s ease-in-out;
}

#about {
  animation: slideIn 1s ease-out;
}

#projects, #skills, #contact {
  animation: popIn 1s ease-out;
}
